$TTL    86400
@       IN      SOA     ns1.{{ domain }}. admin.{{ domain }}. (
{{ '%m%d%H%M' | strftime(ansible_date_time.epoch | int) }}   ; Serial
                              3600      ; Refresh
                              1800      ; Retry
                              604800    ; Expire
                              86400 )   ; Negative Cache TTL
;
@       IN      NS      ns1.{{ domain }}.
@       IN      NS      ns2.{{ domain }}.
@       IN      A       {{ mail_ip }}
mail    IN      A       {{ mail_ip }}
ns1     IN      A       {{ master_ip }}
ns2     IN      A       {{ slave_ip }}
@       IN      MX 10   mail.{{ domain }}.

