- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: Install Bind9 packages
  apt:
    name:
      - bind9
      - bind9utils
      - bind9-doc
    state: present
    update_cache: yes

- name: Create zone directory
  file:
    path: /etc/bind/zones
    state: directory
    mode: '0755'

- name: Configure named.conf.local
  copy:
    dest: /etc/bind/named.conf.local
    content: |
      zone "{{ domain }}" {
          type master;
          file "/etc/bind/zones/db.{{ domain }}";
          allow-update { none; };
          allow-transfer { {{ slave_ip }}; };
          also-notify { {{ slave_ip }}; };
      };

- name: Create zone file for {{ domain }}
  template:
    src: db.domain.j2
    dest: /etc/bind/zones/db.{{ domain }}
    owner: root
    group: bind
    mode: 0644

- name: Configure named.conf.options
  copy:
    dest: /etc/bind/named.conf.options
    content: |
      options {
          directory "/var/cache/bind";
          recursion no;
          allow-query { any; };
          listen-on { any; };
          dnssec-validation auto;
      };

- name: Restart bind9
  service:
    name: bind9
    state: restarted

