
# Mailserver and domain for each stage
DOMAIN_1=example1.com
DOMAIN_2=example2.com
DOMAIN_3=example3.com
DOMAIN_4=example4.com

IP1_1=192.0.2.10     # Mail server 1
IP1_2=192.0.2.20     # Mail server 2
IP1_3=192.0.2.30     # Mail server 3
IP1_4=192.0.2.40     # Mail server 4

# Shared DNS servers
IP2=192.0.2.11       # Master DNS
IP3=192.0.2.12       # Slave DNS

ANSIBLE_USER=ubuntu
